### creating table

- creating a new database

All **DDL(Data Defination Language)** statements are executed using handle structure which is known as cursor. 



***DDL***
- create
- alter
- drop
- rename
- truncate
- comment

In [1]:
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="roja",passwd="nani")
db=mydb.cursor()

# databases list
print("Before database creation database list\n")
db.execute("show databases")
for i in db:
    print("\t",i[0])

# database creating

print("\n\nAfter database creation database list\n")
db.execute("create database dep")
db.execute("show databases")
for i in db:
    print("\t",i[0])
    
# deleting the database permenently

db.execute("drop database dep")
db.execute("show databases")
print("\n\nAfter database deletion database list\n")
for i in db:
    print("\t",i[0])

Before database creation database list

	 information_schema
	 mysql
	 performance_schema
	 sakila
	 sys
	 world


After database creation database list

	 dep
	 information_schema
	 mysql
	 performance_schema
	 sakila
	 sys
	 world


After database deletion database list

	 information_schema
	 mysql
	 performance_schema
	 sakila
	 sys
	 world

#### creating a table in department database

- table name is student which has students details

In [2]:
db_name='department'

The above code shows how we are storing the CREATE statement in a python dictionary called Tables.

We are also define the database in a global variable called db_name

a single mysql server can manage multiple databses.

In [3]:
mydb=mysql.connector.connect(host="localhost",user="roja",passwd="nani")
db=mydb.cursor()

In [4]:
from mysql.connector import errorcode
def create_database(db):
    try:
        db.execute("Create database {}".format(db_name))
    except mysql.connector.Error as err:
        print("Failed creating databse:{}".format(err))
        exit(1)

        
try:
    db.execute("use {}".format(db_name))
except mysql.connector.Error as err:
    print("database {} doesnot exists.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(db)
        print("Database {} created successfully.".format(db_name))
        db.database=db_name
    else:
        print(err)
        exit(1)

database department doesnot exists.
Database department created successfully.

we have one table in tables dictionary variable.

In [5]:
tables={}
tables['student']=("create table student(id int(12) NOT NULL AUTO_INCREMENT, first_name varchar(20) NOT NULL, last_name varchar(20) NOT NULL, gender enum('M','F') NOT NULL, DOB date NOT NULL,branch_name varchar(120) not null, PRIMARY KEY (id))ENGINE=InnoDB")
tables['branch']=("create table branch(branch_name varchar(30) not null, HOD varchar(120), office_address varchar(120), phone_number varchar(120))ENGINE=InnoDB")

In [6]:
db.execute("use department")
for name in tables:
    des=tables[name]
    try:
        print("Creating table {}:".format(name),end='')
        db.execute(des)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("Already exists")
        else:
            print(err.msg)
    else:
        print("successfully created")

Creating table student:successfully created
Creating table branch:successfully created

In [7]:
db.execute("show columns from student")
for i in db:
    print(i)

('id', 'int(12)', 'NO', 'PRI', None, 'auto_increment')
('first_name', 'varchar(20)', 'NO', '', None, '')
('last_name', 'varchar(20)', 'NO', '', None, '')
('gender', "enum('M','F')", 'NO', '', None, '')
('DOB', 'date', 'NO', '', None, '')
('branch_name', 'varchar(120)', 'NO', '', None, '')

In [8]:
db.execute("show columns from branch")
for i in db:
    print(i)

('branch_name', 'varchar(30)', 'NO', '', None, '')
('HOD', 'varchar(120)', 'YES', '', None, '')
('office_address', 'varchar(120)', 'YES', '', None, '')
('phone_number', 'varchar(120)', 'YES', '', None, '')

In [9]:
mydb.close()
db.close()

True

### Insering data into the tables

**DML(Data Manipulation Language)**

***DML***
- insert
- update
- delete

when we use a transactional storage engine such as InnoDB you must commit the data after a sequence of INSERT, DELETE, UPDATE statements

In [10]:
from datetime import date, time

In [11]:
mydb=mysql.connector.connect(host='localhost',user='roja',passwd="nani",database='department')
db=mydb.cursor()

#add_student=(" Insert into student (id,first_name,last_name,gender,DOB,branch_name) values(%d,%s,%s,%s,%s,%s)")
#data_student=(6,'lally','mogili','F','1998-08-18','CSE')
#db.execute()

db.execute("insert into student values(1,'roja','mogili','F','1999-08-18','CSE')")
db.execute("insert into student values(2,'naren','vallepu','M','1997-11-10','ECE')")
db.execute("insert into student values(3,'prakash','mogili','M','2000-08-08','Civil')")
db.execute(" Insert into student (id,first_name,last_name,gender,DOB,branch_name) values(6,'lally','mogili','F','1998-08-18','CSE') ")
#db.execute("insert into student('roja','mogili','F','18-08-1999','CSE')")
mydb.commit()
db.execute("select * from student")
for i in db:
    print(i)
db.close()
mydb.close()

(1, 'roja', 'mogili', 'F', datetime.date(1999, 8, 18), 'CSE')
(2, 'naren', 'vallepu', 'M', datetime.date(1997, 11, 10), 'ECE')
(3, 'prakash', 'mogili', 'M', datetime.date(2000, 8, 8), 'Civil')
(6, 'lally', 'mogili', 'F', datetime.date(1998, 8, 18), 'CSE')

In [12]:
mydb=mysql.connector.connect(host="localhost",user='roja',passwd='nani',database='department')

db=mydb.cursor()

db.execute("insert into branch values('CSE','Upendra','A3 FF5','9122244433')")
db.execute("insert into branch (branch_name, HOD, office_address, phone_number) values('ECE','ECEHOD','A3 TF5','9165469433')")
mydb.commit()
db.execute("select * from branch")
for i in db:
    print(i)
    
mydb.close()
db.close()

('CSE', 'Upendra', 'A3 FF5', '9122244433')
('ECE', 'ECEHOD', 'A3 TF5', '9165469433')

True

#### Delete

we can delete existing records from a particular table

To delete all records from table

    delete from table_name

In [13]:
mydb=mysql.connector.connect(host="localhost",user="roja",passwd="nani",database="department")
db=mydb.cursor()

db.execute("delete from branch where branch_name='ECE'")
mydb.commit()
db.execute("select * from branch")
print("Data existed in branch table")
for i in db:
    print(i)

Data existed in branch table
('CSE', 'Upendra', 'A3 FF5', '9122244433')

### Update

Used to modify the existing records in a particular table

In [14]:
mydb=mysql.connector.connect(host="localhost",user="roja",passwd="nani",database="department")
db=mydb.cursor()

db.execute("update branch set office_address='A3 classroom between 5 and 6' where branch_name='CSE'")
mydb.commit()
db.execute("select * from branch")
for i in db:
    print(i)
db.close()
mydb.close()

('CSE', 'Upendra', 'A3 classroom between 5 and 6', '9122244433')

student table before and after update

In [17]:
mydb=mysql.connector.connect(host="localhost",user="roja",passwd="nani",database="department")
db=mydb.cursor()

print("Data before the update")
db.execute("select * from student")

print("id","first_name","last_name","gender","DOB","\t"+"branch",sep="\t")
print("----------------------------------------------------------------------------------")

for i in db:
    print(i[0],i[1]+"\t",i[2]+"\t",i[3],i[4],i[5],sep="\t")
    
print("\n\nData after update")
db.execute("update student set id=4 where first_name='lally'")
mydb.commit()
db.execute("select * from student")

print("id","first_name","last_name","gender","DOB","\t"+"branch",sep="\t")
print("----------------------------------------------------------------------------------")

for i in db:
    print(i[0],i[1]+"\t",i[2]+"\t",i[3],i[4],i[5],sep="\t")

Data before the update
id	first_name	last_name	gender	DOB		branch
----------------------------------------------------------------------------------
1	roja		mogili		F	1999-08-18	CSE
2	naren		vallepu		M	1997-11-10	ECE
3	prakash		mogili		M	2000-08-08	Civil
6	lally		mogili		F	1998-08-18	CSE


Data after update
id	first_name	last_name	gender	DOB		branch
----------------------------------------------------------------------------------
1	roja		mogili		F	1999-08-18	CSE
2	naren		vallepu		M	1997-11-10	ECE
3	prakash		mogili		M	2000-08-08	Civil
4	lally		mogili		F	1998-08-18	CSE

### Alter

used to add another column in table

     ALTER TABLE table_name
      
      ADD column_1 column_definition,
          
          column_2 column_definition,
           
           ...
          
          column_n column_definition;

In [18]:
print("Columns list before adding the column in table")

db.execute("show columns from student")
for i in db:
    print(i)
    

print("\n\nColumns list after adding the column in table")

db.execute("alter table student add join_date date")
mydb.commit()

db.execute("show columns from student")
for i in db:
    print(i)

Columns list before adding the column in table
('id', 'int(12)', 'NO', 'PRI', None, 'auto_increment')
('first_name', 'varchar(20)', 'NO', '', None, '')
('last_name', 'varchar(20)', 'NO', '', None, '')
('gender', "enum('M','F')", 'NO', '', None, '')
('DOB', 'date', 'NO', '', None, '')
('branch_name', 'varchar(120)', 'NO', '', None, '')


Columns list after adding the column in table
('id', 'int(12)', 'NO', 'PRI', None, 'auto_increment')
('first_name', 'varchar(20)', 'NO', '', None, '')
('last_name', 'varchar(20)', 'NO', '', None, '')
('gender', "enum('M','F')", 'NO', '', None, '')
('DOB', 'date', 'NO', '', None, '')
('branch_name', 'varchar(120)', 'NO', '', None, '')
('join_date', 'date', 'YES', '', None, '')

#### data in student table

In [19]:
db.execute("select * from student")

print("id","first_name","last_name","gender","DOB","\t"+"branch","Join_date",sep="\t")
print("----------------------------------------------------------------------------------")
for i in db:
    print(i[0],i[1]+"\t",i[2]+"\t",i[3],i[4],i[5],i[6],sep="\t")

id	first_name	last_name	gender	DOB		branch	Join_date
----------------------------------------------------------------------------------
1	roja		mogili		F	1999-08-18	CSE	None
2	naren		vallepu		M	1997-11-10	ECE	None
3	prakash		mogili		M	2000-08-08	Civil	None
4	lally		mogili		F	1998-08-18	CSE	None

joining date is none.


so we need to enter join date for every student

In [20]:
db.execute("update student set join_date='2016-06-01' where id=1")
db.execute("update student set join_date='2016-08-01' where id=2")
db.execute("update student set join_date='2018-06-01' where id=3")
db.execute("update student set join_date='2015-06-01' where id=4")
mydb.commit()

db.execute("select * from student")
print("id","first_name","last_name","gender","DOB","\t"+"branch","Join_date",sep="\t")
print("----------------------------------------------------------------------------------")
for i in db:
    print(i[0],i[1]+"\t",i[2]+"\t",i[3],i[4],i[5],i[6],sep="\t")

id	first_name	last_name	gender	DOB		branch	Join_date
----------------------------------------------------------------------------------
1	roja		mogili		F	1999-08-18	CSE	2016-06-01
2	naren		vallepu		M	1997-11-10	ECE	2016-08-01
3	prakash		mogili		M	2000-08-08	Civil	2018-06-01
4	lally		mogili		F	1998-08-18	CSE	2015-06-01